<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku="netcoreapp3.1" />
	</startup>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=den1.mssql8.gear.host;
         Initial Catalog=prjdb17; User=prjdb17; Password=Bm6Dj-My-N0u"/>
	</connectionStrings>
</configuration>
